<template name="test">
    <!-- Status bar overlay for full screen mode (PhoneGap) -->
    <div class="statusbar-overlay"></div>
    <!-- Views -->
    <div class="views">
        <!-- Your main view, should have "view-main" class -->
        <div class="view view-main">
            <!-- Top Navbar-->
            <div class="navbar">
                <div class="navbar-inner">
                    <!-- We need cool sliding animation on title element, so we have additional "sliding" class -->
                    <div class="center sliding">Awesome App</div>
                </div>
            </div>
            <!-- Pages container, because we use fixed-through navbar and toolbar, it has additional appropriate classes-->
            <div class="pages navbar-through toolbar-through">
                <!-- Page, "data-page" contains page name -->
                <div data-page="index" class="page">
                    <!-- Scrollable page content -->
                    <div class="page toolbar-fixed">
                        <div class="page-content messages-content">
                            <div class="messages">
                                <div class="messages-date">Sunday, Feb 9 <span>12:58</span></div>
                                <div class="message message-sent">
                                    <div class="message-text">Hello</div>
                                </div>
                                <div class="message message-sent">
                                    <div class="message-text">How are you?</div>
                                </div>
                                <div class="message message-received">
                                    <div class="message-name">Kate</div>
                                    <div class="message-text">I am fine, thanks</div>
                                    <div style="background-image:url(https://randomuser.me/api/portraits/med/women/46.jpg)"
                                         class="message-avatar"></div>
                                </div>
                                <div class="messages-date">Sunday, Feb 3 <span>11:58</span></div>
                                <div class="message message-sent">
                                    <div class="message-text">Nice photo?</div>
                                </div>
                                <div class="message message-sent message-pic">
                                    <div class="message-text"><img src="http://lorempixel.com/300/300/"></div>
                                    <div class="message-label">Delivered</div>
                                </div>
                                <div class="message message-received">
                                    <div class="message-name">Kate</div>
                                    <div class="message-text">Wow, awesome!</div>
                                    <div style="background-image:url(https://randomuser.me/api/portraits/med/women/46.jpg)"
                                         class="message-avatar"></div>
                                </div>
                                <div class="messages-date">Sunday, Feb 9 <span>12:58</span></div>
                                <div class="message message-sent">
                                    <div class="message-text">Hello</div>
                                </div>
                                <div class="message message-sent">
                                    <div class="message-text">How are you?</div>
                                </div>
                                <div class="message message-received">
                                    <div class="message-name">Kate</div>
                                    <div class="message-text">I am fine, thanks</div>
                                    <div style="background-image:url(https://randomuser.me/api/portraits/med/women/46.jpg)"
                                         class="message-avatar"></div>
                                </div>
                                <div class="messages-date">Sunday, Feb 3 <span>11:58</span></div>
                                <div class="message message-sent">
                                    <div class="message-text">Nice photo?</div>
                                </div>
                                <div class="message message-sent message-pic">
                                    <div class="message-text"><img src="http://lorempixel.com/300/300/"></div>
                                    <div class="message-label">Delivered</div>
                                </div>
                                <div class="message message-received">
                                    <div class="message-name">Kate</div>
                                    <div class="message-text">Wow, awesome!</div>
                                    <div style="background-image:url(https://randomuser.me/api/portraits/med/women/46.jpg)"
                                         class="message-avatar"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Bottom Toolbar-->
            <div class="toolbar">
                <div class="toolbar-inner">
                    <!-- Toolbar links -->
                    <a href="#" class="link">Link 1</a>
                    <a href="#" class="link">Link 2</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Path to Framework7 Library JS--></template>